<html>
	<head>
		<title>[%title%]</title>	    
	</head>
	<body>
	    <table cellspacing="1" width="100%">
            <tr>
                <td colspan="2" align="center" style="font-size: large; font-weight: 700;">[%title%]</td>
                
            </tr>
            <tr>
                <td width="30%" valign="top">
                    <table cellpadding="1" cellspacing="1" width="100%">
                        <tr>
                            <td>Original Image</td>
                        </tr>
                        <tr>
                            <td><img alt="" src="[%original%]" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Modified Image</td>
                        </tr>
                        <tr>
                            <td><img alt="" src="[%modified%]" /></td>
                        </tr>
                        [%imageresult%]
                    </table>
                </td>
                <td valign="top" width="70%">
                [%results%]
                </td>
            </tr>
        </table>
	    <p>
            &nbsp;</p>
        <a href="..//Index.html">Voltar</a>
	</body>
</html>