<html>
	<head>
		<title>[%title%]</title>
	</head>
	<body>
        <table width="100%">
            <tr>
                <td colspan="2">Results</td>
            </tr>
            <tr>
                <td width="50%">
                    <table width="100%">
                        <tr>
                            <td>Manufacturer</td>
                            <td>[%processormanufacturer%]</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>[%processorname%]</td>
                        </tr>
                        <tr>
                            <td>Max Clock Speed</td>
                            <td>[%processormaxclockSpeed%]</td>
                        </tr>
                        <tr>
                            <td>Processor ID</td>
                            <td>[%processorprocessorID%]</td>
                        </tr>
                        <tr>
                            <td>Revision</td>
                            <td>[%processorrevision%]</td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td>[%memoryram%]</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table width="100%">
                        <tr>
                            <td>Caption</td>
                            <td>[%operatingsystemcaption%]</td>
                        </tr>
                        <tr>
                            <td>Major Version</td>
                            <td>[%operatingsystemmajorversion%]</td>
                        </tr>
                        <tr>
                            <td>Minor Version</td>
                            <td>[%operatingsystemminorversion%]</td>
                        </tr>
                        <tr>
                            <td>Install Date</td>
                            <td>[%operatingsysteminstalldate%]</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>[%operatingsystemversion%]</td>
                        </tr>
                        <tr>
                            <td>Free Physical Memory</td>
                            <td>[%operatingsystemfreephysicalmemory%]</td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        
	[%results%]
	</body>
</html>